@font-face {
    font-family: "mainF";
    src: url('/src/Assets/main.ttf');
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    gap: 10px;
}

label{
    font-family: "mainF";
    font-size: 1.5rem;
}

input{
    height: 40px;
    padding: 6px;
    font-family: "mainF";
    border-radius: 8px;
    border: 1px ridge blue;
    transition: all 0.4 linear;
    width: 250px;
}

.formInp > h2 , .formDisp > h2{
    padding: 5px;
    background-color: aquamarine;
    margin: 8px;
    width: 100%;
}

.formDisp{
    border: 1px solid black;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 1280px;
}

.experience {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.expAdd{
    max-width: 200px;
}

.companyDetails{
    padding: 10px;
    background-color:burlywood;
    border-radius: 8px;
}

@media (max-width: 1600px) {
    main {
        grid-template-columns: 100%;
    }
}

@media (prefers-color-scheme: dark){
    .formInp > h2 , .formDisp > h2{
        text-shadow: 0px 0px 4px #000000;
    }
}