.introD{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.educD{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.expD{
    width: 100%;
}